[submodule "src/relaxed_ik_ros1"]
	path = src/relaxed_ik_ros1
	url = https://github.com/uwgraphics/relaxed_ik_ros1.git
[submodule "src/franka_panda_description"]
	path = src/franka_panda_description
	url = git@github.com:justagist/franka_panda_description.git
[submodule "ros-docker-dev"]
	path = ros-docker-dev
	url = git@github.com:AlfredMoore/ros-docker-dev.git
	branch = main
